.destroy,.destroy-rely
  position: absolute
  right: 5px
  top: -5px
  cursor: pointer
  display: block
.comments-list
  li
    display: list-item
    padding: 10px 0px
    div.view
      position: relative
      .comment-item-avatar
        float: left
        margin-right: 8px
      .comment-item
        overflow: hidden
      .comment-item-ago, .comment-rely-item-ago
        position: absolute
        right: 5px
        top: -5px
        cursor: pointer
        display: block
#new-rely
  display: none
.col-2
  position: relative
  .col-user
    float: left
    margin-right: 8px
  .col-text
    min-height: 50px
    position: relative
    input[type="text"]
      width: 90%
      height: 40px
  .col-text-rely
    min-height: 40px
    position: relative
    input[type="text"]
      width: 90%
      height: 30px

.comment-child
  padding-left: 48px
div[id*="new_rely_"]
  display: none
.comment-parent
  margin: 0
  padding: 0
#upvote, #rely-comment, #share_comment
  padding-right: 8px
#count_vote
  color: #cccccc
  padding-right: 3px
