<% unless user_signed_in? %>
    <h2>Sign up</h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <% unless resource.errors.empty? %>
            <div id="error_explanation">
              <div class="alert alert-error">
                <span><%= "Please correct the following #{pluralize(resource.errors.full_messages.uniq.size, "error")}" %> </span>
                <ul style="margin: 5px 0; padding: 0">
                  <% resource.errors.full_messages.uniq.each do |msg|%>
                      <li>
                        <%= msg %>
                      </li>
                  <% end %>
                </ul>
              </div>
            </div>
        <% end %>

        <div><%= f.label :email %>
          <%= f.email_field :email, :autofocus => true %></div>

        <div><%= f.label :password %>
          <%= f.password_field :password %></div>

        <div><%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %></div>

        <div><%= f.submit "Sign up" %></div>
    <% end %>

    <%= render "devise/shared/links" %>

<% end %>