<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <% flash.each do |name, msg| %>
    <div id="error_explanation">
      <div class="alert alert-error">
        <ul style="margin: 5px 0; padding: 0">
          <% Array(msg).uniq.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
       </div>
    </div>
  <% end %>
  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>

<%= render "devise/shared/links" %>
