<div class="row-fluid col-2">
   <div class="col-user">
     <img src="/assets/icon-user-l.jpg"  width="50px"/>
   </div>
   <div class="col-text">
     <input type="text" value="<%= text %>" class="comment-text" />
   </div>
</div>
