<!DOCTYPE html>
<html>
<head>
  <title>Voicetalk</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "//cdn.sublimevideo.net/js/h5clmm5v.js", "http://connect.facebook.net/en_US/all.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<script type="text/javascript">
    window.currentUser = {
        id : "<%= current_user.nil? ? nil : current_user.id %>"
    }
</script>
<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", '#' %></li>
          <li><%= link_to "Help", '#' %></li>
          <li><%= link_to "Upload", '/uploads' %></li>
          <li><%= link_to "Video", '/videos' %></li>
          <% if user_signed_in? %>
            <li><%= link_to "Admin", '/admin' %></li>
            <li>
              <div class="dropdown profile">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <span class="img-profile">
                    <% if current_user.image_url.present? %>
                        <%= image_tag(current_user.image_url) %>
                    <% end %>
                  </span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li><%= link_to 'Your profile', '/profile' %> </li>
                  <li><%= link_to 'Setting', edit_user_registration_path %> </li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                </ul>
              </div>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
 <div id="content" class="container-fluid">
   <%= yield %>
 </div>

</body>
</html>
